.typist-font {
    font-family: "jersey", serif;
    color: black;
    opacity: 75%;
    min-height: 40px;
    justify-content: center;
    text-align: center;
    width: 100%;
    display: flex;
    font-style: italic;
    margin-top: 100px;
}

.rights {
    font-family: "jersey", serif;
    color: black;
    opacity: 75%;
}

.stay-tuned {
    font-family: "jersey", serif;
    border-width: 3px;
    opacity: 75%;
    font-size: medium;
    width: 120px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}


.img-rectangular-left {
    transform-origin: left top;
    animation: scale 10000ms ease-in-out infinite alternate;
    opacity: 60%;
}

.img-rectangular-top {
    margin-bottom: 50px;
    transform-origin: top;
    animation: scale 5000ms ease-in-out infinite alternate;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    opacity: 75%;
}

.img-rectangular-right {
    transform-origin: right top;
    animation: scale 10000ms ease-in-out infinite alternate;
    opacity: 60%;
}

@media (max-width: 960px) {
    .img-rectangular-right {
        display: none;
    }

    .img-rectangular-left {
        display: none;
    }

    .stay-tuned {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 75%;
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}