.btn-outline-light {
    font-size: medium;
}

.typist-font {
    font-family: "jersey", serif;
    color: black;
    opacity: 60%;
    min-height: 40px;
    margin-top: 80px;
}

.rights {
    font-family: "jersey", serif;
    color: black;
    opacity: 60%;
}

.stay-tuned {
    font-family: "jersey", serif;
    color: black;
    border-width: 2px;
    opacity: 60%;
    font-size: large;
    width: 120px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1px;
    margin-top: 80px;
}


.img-rectangular-left {
    transform-origin: left top;
    animation: scale 10000ms ease-in-out infinite alternate;
}

.img-rectangular-top {
    margin-bottom: 50px;
    transform-origin: top;
    animation: scale 5000ms ease-in-out infinite alternate;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.img-rectangular-right {
    transform-origin: right top;
    animation: scale 10000ms ease-in-out infinite alternate;
}

@media (max-width: 768px) {
    .img-rectangular-right {
        display: none;
    }

    .img-rectangular-left {
        display: none;
    }

    .stay-tuned {
        cursor: not-allowed;
        pointer-events: none;
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}