.container {
    margin-left: 40px;
}

.title {
    background-size: cover;
    place-items: center;
    width: 100%;
    min-height: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.box-container {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.graph-container {
    display: flex;
    text-align: center;
    justify-content: center;
    place-items: center;
    margin: 1rem;
}

.box-with-graph {
    place-items: center;
    text-align: center;
}

.news-count {
    position: relative;
    float: right;
}

.news-box {
    margin: 2rem;
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, 0.59);
    border-radius: var(--rounded-box, 1rem /* 16px */);
    padding: 20px;
    text-align: center;
}