.tabs {
    font-size: 12px;
    justify-content: center;
    margin-bottom: 15px;
}

.tab-view {
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 2px;
}

.news-container {
    margin-top: 78px;
}