@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
    overflow: hidden;
}

body {
    @apply bg-custom-bg bg-cover bg-center h-screen w-full;
    height: 100%;
    overflow: auto;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}