.block {
    background-color: rgba(169, 67, 28, 0.46);
    color: #333333;
    width: 100%;
    margin-left: 60px;
    margin-top: 10px;
    max-height: 40px;
}

.item {
    display: inline-block;
    margin-left: 10px;
    padding-inline: 10px;
    width: 120px;
    font-size: smaller;
}