.navbar {
    background-color: #f1f1f1;
}

.logoButton {
    width: 7rem;
}

.flash {
    border-radius: 10%;
    animation: flash 0.5s ease-in-out;
}

@keyframes flash {
    0% {
        background-color: #b6a8a8;

    }
    100% {
        background-color: inherit;
    }
}

@media (max-width: 768px) {
    .navbar {
        background-color: #f1f1f1;
    }

    .prices-fear-greed {
        font-size: 6px;
        text-align: center;
    }

    .logoButton {
        width: 7.5rem;
    }
}
