.container {
    display: flex;
    top: 0;
    position: relative; /* Add this to establish a stacking context */
    z-index: 1;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.sidebar-closed {
    width: 70px;
    height: 100vh;
    background: linear-gradient(to left, rgba(252, 252, 252, 0.29), rgba(211, 197, 189, 0.42));
    color: rgba(220, 220, 220, 0.71);
    top: 0;
    padding-top: 80px;
    position: fixed;
    z-index: 2;
    transition: 0.2s cubic-bezier(.36,-0.01,0,.77);
}

.sidebar {
    width: 140px;
    height: 100vh;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.44), rgba(255, 255, 255, 0.58));
    color: rgba(220, 220, 220, 0.71);
    top: 0;
    padding-top: 80px;
    position: fixed;
    z-index: 2;
    transition: 0.2s cubic-bezier(.36,-0.01,0,.77);
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(61, 43, 1);
    text-decoration: none;
    width: 100%;
}

.toggle-btn {
    position: absolute;
    top: 40%;
    right: -15px;
    width: 35px;
    height: 35px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 4px;
    border-radius: 100%;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        display: block;
        z-index: 1;
    }

    .toggle-btn {
        display: block;
        position: absolute;
        margin-bottom: 10px;
        left: 100px;
        top: 50%;
    }
}
