.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tables-container {
    display: flex;
    /*justify-content: space-between; !* Space between the tables *!*/
    justify-content: center;
    width: 100%; /* Ensure the container takes full width */
    margin-top: 20px;
    margin-bottom: 40px;
}

.table-container {
    width: 100%;
    height: 650px; /* Set a fixed height for the table container */
    display: flex;
    flex-direction: column;
    /*justify-content: space-between; !* Ensure the pagination stays at the bottom *!*/
    overflow-y: auto; /* Allow vertical scrolling if content exceeds height */
    position: relative;
    margin-inline: 30px;
    padding: 10px; /* Add padding around table container */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.table-sentiment-container {
    width: 80%;
    height: 900px; /* Set a fixed height for the table container */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure the pagination stays at the bottom */
    overflow-y: auto; /* Allow vertical scrolling if content exceeds height */
    position: relative;
    margin-inline: 30px;
    padding: 10px; /* Add padding around table container */
}

.table-container:first-child {
    flex-basis: 70%; /* First table takes 70% of the width */
}

.table-container:last-child {
    flex-basis: 70%; /* Second table takes 30% of the width */
}

.table-wrapper {
    flex-grow: 1;
}

.table-wrapper-sentiment {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px; /* Reduced font size */
    font-weight: bolder;
    table-layout: fixed; /* Ensure fixed table layout */
    background-color: #f2f2f2;
    border-radius: 10px; /* Rounded corners for the entire table */
    overflow: hidden; /* Ensure rounded corners are applied properly */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color: rgba(224, 224, 224, 0.5);
    font-weight: bold !important;
}

.table tr, .table th, .table td {
    height: 30px; /* Set a fixed height for each row */
}

.sortableHeader {
    cursor: pointer;
    position: relative;
    padding-right: 20px;
}

.sortableHeader:hover {
    background-color: #f2f2f2;
}

.sortableHeader::after {
    content: '▼';
    position: absolute;
    right: 8px;
    font-size: 12px;
    display: none;
}

.sortableHeader.asc::after {
    content: '▲';
    display: inline-block;
}

.sortableHeader.desc::after {
    content: '▼';
    display: inline-block;
}

.priceChangePositive {
    color: green;
}

.priceChangeNegative {
    color: red;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination button {
    margin: 0 4px;
    padding: 6px 12px;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
    cursor: pointer;
}

.pagination .activePage {
    background-color: #000000;
    color: white;
    border: 1px solid #ffffff;
    border-radius: 10px;
}


.table-sentiment {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px; /* Reduced font size */
    font-weight: bolder;
    table-layout: fixed; /* Ensure fixed table layout */
    background-color: #f2f2f2;
    border-radius: 10px; /* Rounded corners for the entire table */
    overflow: hidden; /* Ensure rounded corners are applied properly */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.table-sentiment th, .table-sentiment td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-sentiment th {
    background-color: rgba(224, 224, 224, 0.5);
    font-weight: bold !important;
}

.table-sentiment tr, .table-sentiment th, .table-sentiment td {
    height: 50px; /* Set a fixed height for each row */
}

/* Set fixed widths for each column */
.table-sentiment th:nth-child(1), .table-sentiment td:nth-child(1) {
    width: 5%;
    opacity: 50%;
    pointer-events: none;
    background-color: #e0e0e0;
}

.table-sentiment th:nth-child(2), .table-sentiment td:nth-child(2) {
    width: 15%;
}

.table-sentiment th:nth-child(3), .table-sentiment td:nth-child(3) {
    width: 15%;
    font-weight: lighter;
}

/* Set fixed widths for each column */
.table th:nth-child(1), .table td:nth-child(1) {
    width: 5%;
    opacity: 50%;
    pointer-events: none;
    background-color: #e0e0e0;
}

.table th:nth-child(2), .table td:nth-child(2) {
    width: 30%;
}

.table th:nth-child(3), .table td:nth-child(3) {
    width: 15%;
    font-weight: lighter;
}

.table th:nth-child(4), .table td:nth-child(4) {
    width: 10%;
    font-weight: lighter;
}

.table th:nth-child(5), .table td:nth-child(5) {
    width: 10%;
    font-weight: lighter;
}

.table th:nth-child(6), .table td:nth-child(6) {
    width: 10%;
    font-weight: lighter;
}

.table th:nth-child(7), .table td:nth-child(7) {
    width: 10%;
    font-weight: lighter;
}

.table th:nth-child(8), .table td:nth-child(8) {
    width: 10%;
    font-weight: lighter;
}

@media (max-width: 768px) {
    .container {
        overflow-y: auto; /* Enable vertical scrolling */
    }

    .tables-container {
        flex-direction: column; /* Stack elements vertically */
    }

    .table-container {
        margin: 0;
        padding: 0;
        height: 100%; /* Full height */
        justify-content: flex-start; /* Align items at the start */
        align-items: stretch; /* Stretch to fill the width */
    }

    .table {
        font-size: 6px;
    }

    .pagination button {
        padding: 2px 6px;
        margin-top: 20px;
    }
}
